---
title: Team
layout: layout.njk
---

<div class="container py-2 grid grid-cols-1 divide-y-4 divide-yellow-500">
	<div>
	<h1 class="text-left text-2xl">BANG A</h1>
	<table class="table-fixed border-collapse border text-center">
		<thead>
			<tr class="h-16 w-16 bg-blue-500 hover:bg-purple-700">
				<th class="w-1/6 border">Top</th>
				<th class="w-1/4 text-left border">Cơ thủ</th>
				<th class="w-1/6 border">Số Trận</th>
				<th class="w-1/6 border">Thắng</th>
				<th class="w-1/6 border">Thua</th>
				<th class="w-1/6 border">Hệ Số</th>
				<th class="w-1/6 border">Điểm</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-green-300 hover:bg-purple-700">
				<td class="border py-4 px-2 grid place-items-center"><span class="rounded-full h-16 w-16 flex items-center justify-center bg-yellow-500">1</span></td>
				<td class="text-left border">Phúc Láo Toét</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="bg-purple-500 hover:bg-purple-700">
				<td class="border py-4 px-2 grid place-items-center"><span class="rounded-full h-16 w-16 flex items-center justify-center bg-yellow-500 bg-opacity-50">2</span></td>
				<td class="text-left border">Quang Phó Giám Đốc</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="hover:bg-purple-700">
				<td class="border">3</td>
				<td class="text-left border">Liệu Leader</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="hover:bg-purple-700">
				<td class="border">4</td>
				<td class="text-left border">Yến COM TƠ</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="hover:bg-purple-700">
				<td class="border">5</td>
				<td class="text-left border">MIZU CHAMPION</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
		</tbody>
	</table>
	</div>

	<div class="mt-8">
	<h1 class="text-left text-2xl mt-6">BANG B</h1>
	<table class="table-fixed border-collapse border text-center">
		<thead>
			<tr class="h-16 w-16 bg-blue-500 hover:bg-purple-700">
				<th class="w-1/6 border">Top</th>
				<th class="w-1/4 text-left border">Cơ thủ</th>
				<th class="w-1/6 border">Số Trận</th>
				<th class="w-1/6 border">Thắng</th>
				<th class="w-1/6 border">Thua</th>
				<th class="w-1/6 border">Hệ Số</th>
				<th class="w-1/6 border">Điểm</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-green-300 hover:bg-purple-700">
				<td class="border py-4 px-2 grid place-items-center"><span class="rounded-full h-16 w-16 flex items-center justify-center bg-yellow-500">1</span></td>
				<td class="text-left border">Khánh Áp-Tô-Mát</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="bg-purple-500 hover:bg-purple-700">
				<td class="border py-4 px-2 grid place-items-center"><span class="rounded-full h-16 w-16 flex items-center justify-center bg-yellow-500 bg-opacity-75">2</span></td>
				<td class="text-left border">Hoàng LGBT</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="hover:bg-purple-700">
				<td class="border">3</td>
				<td class="text-left border">Thanh Khó Chịu</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="hover:bg-purple-700">
				<td class="border">4</td>
				<td class="text-left border">Hiệu Chim Mồi</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
			<tr class="hover:bg-purple-700">
				<td class="border">5</td>
				<td class="text-left border">Nhân Văn Phòng</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
				<td class="border">0</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>